
body {
	background-image: url(https://i.imgur.com/sTYcdgM.jpg);
	background-size: cover;
}


h1 {
	text-align: center;
	font-size: 2em;
	font-family: 'Notable', sans-serif;
	color: rgba(102, 250, 14, .7);
}

h2, label {
	color: rgba(102, 250, 14, .7);
}

#animate {
	position: relative;
    display: block;
	height: 200px;
	width: 125px;
	position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}

